.required-color {
    color:#db4437;
}
.card-shadow{
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    box-shadow: 3px 3px 20px 0px rgba(158,158,158,1);
}
.annotation{
    padding-left: 32px;
    font-size: 20px;
}
.annotation h1,h3,h6{
    margin: 15px 0;
}
md-card-title{
    background: rgba(148, 148, 148, 0.88);
}
md-card-content{
    margin-top: 32px;
}
textarea{
    font-size: 30px;
}
#submit{
    margin-top: 64px;
    height: 64px;
    width: 300px;
    border-radius: 50px;
    background: rgb(63,81,181);
    font-size: 32px;
}
