md-sidenav.md-sidenav-left.md-whiteframe-z2(md-is-locked-open="lockLeft && $mdMedia('gt-md')" md-component-id="left")
    md-content(flex)
        span menucontext
md-content(flex)
    md-toolbar(layout="row")
        md-button.menu(ng-click="lockLeft=!lockLeft")
            md-icon(md-svg-src="assets/images/ic_reorder_black_24px.svg")
        h1(flex) {{'REQUEST_NEW_APP'|translate}}
    md-content(layout="column")
        form(name="CplantForm" layout="column")
            div(layout="column").annotation
                h6(flex) {{"ANSWER_THE_BELOW_QUESTIONS"|translate}}
                h6(flex) {{"CONFIRM_ADDRESS"|translate}}
                    a(href='https://accounts.google.com/AccountChooser') {{"SWITCH_ACCOUNT"|translate}}
                h6.required-color(flex) * Required
                |{{cplants}}
            md-card(layout="column").card-shadow
                md-card-title
                    h3 {{"PROVIDE_NAME"|translate}}
                        span.required-color  *
                md-card-content
                    md-input-container
                        textarea(placeholder="Your answer" rows="1" cols="60" ng-model="answer.appName" name="appName")
            md-card(layout="column").card-shadow
                md-card-title
                    h3 {{"PROVIDE_DESCRIPTION"|translate}}
                        span.required-color  *
                md-card-content
                    md-input-container
                        textarea(placeholder="Your answer" rows="1" cols="60" ng-model="answer.appDescription" name="appDescription")
            md-card(layout="column").card-shadow
                md-card-title
                    h3 {{"CHOOSE_PRODUCT"|translate}}
                        span.required-color  *
                md-card-content(layout="row")
                    md-radio-group(layout="column" ng-model="answer.product")
                        md-radio-button(value="Red Hat Enterprise Linux") Red Hat Enterprise Linux
                        md-radio-button(value="JBoss") JBoss
                        md-radio-button(value="Red Hat Virtualization") Red Hat Virtualization
                        md-radio-button(value="Cloud") Cloud
                        md-radio-button(value="Mobile") Mobile
                        md-radio-button(value="Other-product").others Other:
                        md-input-container(ng-if="answer.product === 'Other-product'")
                            textarea(placeholder="Your answer" rows="1" cols="20" ng-model="answer.productOther") //ng-change="productTextareaChange()"
            md-card(layout="column").card-shadow
                md-card-title
                    h3 {{"TOOL_BELONG_TO"|translate}}
                        span.required-color  *
                md-card-content(layout="row")
                    md-radio-group(layout="column" ng-model="answer.belongTo")
                        md-radio-button(value="Kernel") Kernel
                        md-radio-button(value="Networking") Networking
                        md-radio-button(value="Storage") Storage
                        md-radio-button(value="Virtulualization") Virtulualization
                        md-radio-button(value="JBoss Base AS") JBoss Base AS
                        md-radio-button(value="Ceph") Ceph
                        md-radio-button(value="Stack") Stack
                        md-radio-button(value="Other-tool").others Other:
                        md-input-container(ng-if="answer.belongTo === 'Other-tool'")
                            textarea(placeholder="Your answer" rows="1" cols="20" ng-model="answer.belongToOther")
            md-card(layout="column").card-shadow
                md-card-title
                    h3 {{"WHO_USE_TOOL"|translate}}
                        span.required-color  *
                md-card-content(layout="column" ng-model="answer.toolUser")
                    md-checkbox(ng-model="answer.userCustomers" aria-label="Customers") Customers
                    md-checkbox(ng-model="answer.userSDSCET" aria-label="Support Delivery / Strategic Customer Engagement teams") Support Delivery / Strategic Customer Engagement teams
                    md-checkbox(ng-model="answer.userOther" aria-label="Other:").others Other:
                    md-input-container(ng-if="answer.userOther === true")
                        textarea(placeholder="Your answer" rows="1" cols="20" ng-model="answer.userOtherContent")
                        |{{answer.userOtherContent}}
                        |{{answer.userSDSCET}}
                        |{{answer.userOther}}
            md-card(layout="column").card-shadow
                md-card-title(layout="column")
                    h3 {{"POTENTIAL_USERS_TOOL_HAVE"|translate}}
                    h5 {{"DO_BEST_FOR_EXACT_NUMBER"|translate}}
                md-card-content
                    md-input-container
                        textarea(placeholder="Your answer" rows="1" cols="60" ng-model="answer.userToolHave")
            md-card(layout="column").card-shadow
                md-card-title
                    h3 {{"CASE_OPENED_IN_30DAYS"|translate}}
                md-card-content(layout="row")
                    md-radio-group(layout="column" ng-model="answer.caseOpenDay")
                        md-radio-button(value="1000+") 1000+
                        md-radio-button(value="500 - 1000") 500 - 1000
                        md-radio-button(value="100 - 500") 100 - 500
                        md-radio-button(value="50 - 100") 50 - 100
                        md-radio-button(value="0 - 50") 0 - 50
                        md-radio-button(value="Other-case").others Other:
                        md-input-container(ng-if="answer.caseOpenDay === 'Other-case'")
                            textarea(placeholder="Your answer" rows="1" cols="20" ng-model="answer.caseOpenDayOther")
            md-card(layout="column").card-shadow
                md-card-title
                    h3 {{"TOOL_HELP_DECREASE"|translate}}
                md-card-content
                    md-input-container
                        textarea(placeholder="Your answer" rows="1" cols="60" ng-model="answer.toolHelpDecrease")
            md-card(layout="column").card-shadow
                md-card-title
                    h3 {{"TOOL_HELP_SHORTEN"|translate}}
                md-card-content(layout="column")
                    md-radio-group(ng-model="answer.toolHelpShorten")
                        md-radio-button(value="Yes 50%") Yes 50%
                        md-radio-button(value="Yes 20%") Yes 20%
                        md-radio-button(value="NO") NO
            md-card(layout="column").card-shadow
                md-card-title
                    h3 {{"TOOLS_EXISTING"|translate}}
                md-card-content
                    md-input-container
                        textarea(placeholder="Your answer" rows="1" cols="60" ng-model="answer.toolExisting")
            md-card(layout="column").card-shadow
                md-card-title
                    h3 {{"KBASE_SOLUTIONS"|translate}}
                md-card-content
                    md-input-container
                        textarea(placeholder="Your answer" rows="1" cols="60" ng-model="answer.kbaseSolutions") 
            md-card(layout="column").card-shadow
                md-card-title
                    h3 {{"KEY_REQUIREMENTS"|translate}}
                    span.required-color  *
                md-card-content
                    md-input-container
                        textarea(placeholder="Your answer" rows="1" cols="60" ng-model="answer.keyRequirements")
            md-card(layout="column").card-shadow
                md-card-title
                    h3 {{"LIST_SCENARIOS"|translate}}
                    span.required-color  *
                md-card-content
                    md-input-container
                        textarea(placeholder="Your answer" rows="1" cols="60" ng-model="answer.ListScenarios")
            md-card(layout="column").card-shadow
                md-card-title
                    h3 {{"SPECIFIC"|translate}}
                md-card-content
                    md-input-container
                        textarea(placeholder="Your answer" rows="1" cols="60" ng-model="answer.specific")
            md-card(layout="column").card-shadow
                md-card-title(layout="column")
                    h3 {{"PRIMARY_CONTACT"|translate}}
                    h5 {{"PROVIDE_EMAIL_ADDRESSES"|translate}}
                md-card-content
                    md-input-container
                        textarea(placeholder="Your answer" rows="1" cols="60" ng-model="answer.primaryContact")
            md-card(layout="column").card-shadow
                md-switch(flex)
                    span {{"SEND_RESPONSES"|translate}}
            md-button#submit(ng-click="createCplants()") {{"BUTTON_SUBMIT"|translate}} 
